@model TenantURL.Models.Entity.TenantControl

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tenant Control</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="TenantUser" class="control-label col-md-2">Tenant User</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenantUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenantUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Theme" class="control-label col-md-2">Theme</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Theme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Theme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="TenantSchema" class="control-label col-md-2">Tenant Schema</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenantSchema, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenantSchema, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="TenantConnection" class="control-label col-md-2">Tenant Connection</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenantConnection, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenantConnection, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
